@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

p,
a,
li,
button {
  font-family: 'Noto Sans', sans-serif;
}


.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("./assets/contact_bg.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 30px 40px 50px 40px;
}

.logo img {
  width: 130px;
  display: block;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}
.liste {
  display: flex;
  gap: 25px;
}

.liste a {
  color: white;
  font-size: 14px;
}

.red-button {
  background-color: #fb2056;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.red-button:hover {
  background-color: #DA1C4B;
}

.home-background {
  display: none;
}

.home {
  font-size: 24px;
  margin-bottom: 15px;
}

.home-titre {
  font-size: 64px;
  margin-bottom: 20px;
}

footer {
  background: #0b0b0f;
  color: white;
  text-align: center;
  padding: 45px 20px;
}

footer p {
  margin: 0 auto;
  max-width: 900px;
  opacity: 0.9;
}